 #dev-cont {
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background: rgba(0, 0, 0, 0.7);
     position: fixed;
     top: 0;
     transform: translateY(-100vh);
     transition-duration: 1s;
 }
 
 #developer {
     width: 50vw;
     height: auto;
     margin: auto;
     display: none;
 }
 
 .cntd {
     display: block;
     width: 90%;
     max-width: 90%;
     height: 50px;
     margin: 10px auto;
     font-size: 20px;
     border: 2px solid rgb(28, 163, 226);
     border-radius: 4px;
     outline: none;
     padding: 3px;
     background-color: transparent;
     /* margin: auto; */
 }
 
 #txt--area {
     min-width: 90%;
     min-height: 100px;
     max-height: 100px;
     font-size: 18px;
 }
 
 ::placeholder {
     color: cyan;
     text-align: left;
     font-size: 14px;
 }
 
 #show-d-p {
     width: 15px;
     height: 15px;
     cursor: pointer;
     margin-left: 40px;
     outline: none;
     border: none;
 }
 
 #lbl-d {
     cursor: pointer;
     font-size: 15px;
 }
 
 #dev-fm-submit {
     display: block;
     cursor: pointer;
     background-color: rgba(23, 163, 228, 0.945);
     outline: none;
     border: transparent;
     border-radius: 8px;
     width: 80%;
     margin: 20px auto;
     height: 35px;
     font-size: 20px;
 }
 
 #dev-fm-submit:hover {
     background: #21ecece5;
 }
 
 #cross-d-c {
     width: 30px;
     height: 30px;
     position: absolute;
     top: 38px;
     right: 5px;
     cursor: pointer;
 }
 
 .nt-fill {
     color: rgba(255, 0, 0, 0.836);
     margin-left: 30px;
     padding: 0;
     margin-bottom: 0px;
     display: none;
 }
 
 #al-1,
 #al-2,
 #al-3 {
     display: none;
 }
 
 #control-form {
     background-color: white;
     width: 30vw;
     height: 30px;
     position: fixed;
     top: 2vh;
     border-radius: 20px;
     display: flex;
     justify-content: center;
     align-self: center;
 }
 
 #control-form span {
     margin: auto;
 }
 
 .tabss {
     width: fit-content;
     width: 49%;
     border-radius: 20px;
     padding: 2px;
     text-align: center;
     cursor: pointer;
     height: 90%;
     color: black;
     transition-duration: 0.3s;
 }
 
 #M-submit {
     display: block;
 }
 
 #manager {
     width: 50vw;
     margin: auto;
     /* display: none; */
     transition-duration: 0.5s;
 }
 
 .Minpss {
     display: block;
     width: 90%;
     max-width: 90%;
     height: 40px;
     margin: 10px auto;
     font-size: 20px;
     border: 2px solid rgb(28, 163, 226);
     border-radius: 4px;
     outline: none;
     padding: 2px;
     background-color: transparent;
 }
 
 #M-txtarea {
     min-width: 90%;
     min-height: 100px;
     max-height: 100px;
     font-size: 18px;
 }
 
 #show-M-p {
     width: 14px;
     height: 14px;
     accent-color: cyan;
     cursor: pointer;
     margin-left: 40px;
 }
 
 #lbl-mp {
     color: rgba(40, 245, 245, 0.877);
     cursor: pointer;
     padding-left: 5px;
 }
 
 .ers {
     margin-left: 40px;
     color: red;
     display: none;
 }
 
 #M-submit {
     width: 70%;
     margin: auto;
     height: 30px;
     background-color: rgba(23, 163, 228, 0.945);
     font-size: 18px;
     border-radius: 8px;
     outline: none;
     border: transparent;
     cursor: pointer;
 }
 
 @media (min-width:0px) and (max-width:950px) {
     #control-form {
         width: 80vw;
     }
 }