    @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        color: black;
        font-family: 'Baloo Bhai 2', cursive;
    }
    
     ::placeholder {
        text-align: left;
        padding-left: 10px;
        color: rgba(0, 0, 0, 0.589);
    }
    
    #logo img {
        width: 57px;
        padding-left: 30px;
    }
    
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100vw;
        height: 70px;
        background-color: rgb(117 20 206 /70%);
        position: sticky;
        top: 0;
        font-size: 16px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    
    #navigations {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 40vw;
        margin: auto;
    }
    
    #navigations li {
        margin: auto;
    }
    
    #navigations li a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.8);
    }
    
    #register {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        position: relative;
        right: 0;
        margin-right: 1vw;
    }
    
    #register span {
        padding: 10px;
        font-size: 20px;
    }
    
    #register span:hover,
    #register span:active {
        cursor: pointer;
        border-radius: 15px;
        height: fit-content;
        box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.5);
        transition-duration: 0.3s;
    }
    
    #navigations li a:hover {
        color: rgba(255, 255, 255, 0.829);
        transition-duration: 0.5s;
    }
    
    #drop-down-box {
        background-color: black;
        width: 200px;
        color: white;
        display: none;
        position: fixed;
        top: 45px;
        border-radius: 6px;
        width: 200px;
    }
    
    #drop-down-box ul {
        padding: 20px;
    }
    
    #drop-down-box a, #yt-desktop {
        /* color: white; */
        text-decoration: none;
    }
    
    #drop-down-box i {
        color: cyan;
        display: inline;
    }
    
    #extrnl-link:hover {
        color: white;
        transition-duration: 1s;
        cursor: pointer;
        display: block;
    }
    
    #extrnl-link:hover #drop-down-box {
        display: block;
    }
    
    #arrow {
        width: 40px;
        height: 40px;
        background-color: black;
        position: absolute;
        top: 0;
        left: 10px;
        transform: rotate(45deg);
        z-index: 11;
    }
    
    #drop-down-box ul li a,#yt-desktop {
        color: white;
        z-index: 10;
    }
    
    #drop-down-box ul li {
        margin-left: 34px;
    }
    
    #navigations li p {
        cursor: pointer;
    }
    
    #drop-down-for-contact {
        width: 200px;
        background-color: black;
        border-radius: 5px;
        position: fixed;
        top: 48px;
        display: none;
    }
    
    #drop-down-for-contact li {
        margin-left: 30%;
    }
    
    #arrow-up {
        width: 30px;
        height: 30px;
        background-color: black;
        transform: rotate(45deg);
        position: absolute;
        left: 20px;
    }
    
    #drop-down-for-contact li p {
        color: white;
    }
    
    #drop-down-for-contact li p:hover {
        color: rgba(255, 255, 255, 0.856);
    }
    
    #cntct:hover #drop-down-for-contact {
        display: inline;
    }
    
    #cntct:hover #angle-down-1 {
        transform: rotate(180deg);
        transition-duration: 0.5s;
    }
    
    #extrnl-link:hover #angle-down-2 {
        transform: rotate(180deg);
        transition-duration: 0.5s;
    }
    
    #mobile-ham {
        display: none;
    }
    
    #time {
        font-size: 15px;
        position: absolute;
        top: 1px;
        right: 0;
        padding-right: 5px;
        cursor: pointer;
    }
    
    #time p {
        color: rgb(5, 219, 41);
        display: inline;
        font-weight: bold;
    }
    
    #hour::after {
        content: ':';
    }
    
    #minute::after {
        content: ':';
    }
    
    #drp-tm {
        position: absolute;
        top: 30px;
        right: 10px;
        background-color: black;
        width: 150px;
        height: 30px;
        text-align: center;
        border-radius: 4px;
        display: none;
    }
    
    #drp-tm p {
        color: white;
        display: inline;
    }
    
    #drp-minute::after,
    #drp-hour::after {
        content: ":";
    }
    
    #drp-second {
        padding-right: 18px;
    }
    
    #drp-tm div {
        width: 20px;
        height: 20px;
        position: absolute;
        background-color: black;
        top: 0;
        right: 5px;
        transform: rotate(45deg);
    }
    
    #time:hover #drp-tm {
        display: flex;
    }
    
    nt {
        padding-left: 15px;
    }
    
    #menu-for-ph {
        display: none;
    }
    
    #i {
        display: none;
    }
    
    #sign-up {
        display: flex;
        position: fixed;
        top: 0;
        width: 100vw;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }
    
    #inputs {
        width: 50vw;
        height: auto;
        background-color: white;
        border-radius: 4px;
        position: absolute;
        top: 15px;
    }
    
    #inputs p {
        text-align: center;
        padding: 20px;
    }
    
    #inputs p b {
        color: blue;
        cursor: pointer;
    }
    
    #inputs i {
        display: inline;
    }
    
    #inputs input,
    #inputs button {
        border-color: transparent;
        display: block;
        margin: 5px auto;
        cursor: pointer;
        outline: none;
        width: 80%;
        height: 30px;
    }
    
    #inputs button {
        background-color: rgba(6, 192, 6, 0.822);
        width: 50%;
        height: 30px;
        font-size: 18px;
        border-radius: 5px;
        margin-top: 30px;
    }
    
    #inputs input {
        border-bottom: 1px solid black;
        font-size: 16px;
    }
    
    #close-form {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 5px;
        cursor: pointer;
    }
    
    #key i {
        position: absolute;
        top: 45%;
        right: 10%;
        cursor: pointer;
    }
    
    #login {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
    }
    
    #login-here {
        height: 100vh;
        position: fixed;
        top: 0;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }
    
    #login-input {
        width: 50vw;
        background-color: white;
        margin: auto;
        padding: 20px;
        margin-top: 20px;
        border-radius: 8px;
    }
    
    #login-input input {
        display: block;
        margin: auto;
        margin-top: 20px;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        cursor: pointer;
        width: 80%;
        font-size: 16px;
    }
    
    #login-input button {
        width: 50%;
        margin: 20px auto;
        display: block;
        background-color: rgba(6, 192, 6, 0.822);
        outline: none;
        height: 30px;
        border-color: transparent;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
    }
    
    #login-input b {
        color: blue;
        cursor: pointer;
    }
    
    #login-input p {
        text-align: center;
    }
    
    #close-lgn-form {
        display: inline;
        width: 25px;
        height: 25px;
        position: relative;
        right: 5px;
        cursor: pointer;
    }
    
    #img {
        /* position: absolute; */
        float: right;
    }
    
    #sc-1,
    #sc-2,
    #sc-3 {
        width: 80%;
        margin: 5px auto;
        background-color: red;
        height: 28px;
        display: none;
    }
    
    .nl {
        padding-left: 30px;
        color: white;
    }
    
    .dv {
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        background-color: red;
        transform: rotate(45deg);
    }
    
    #login-input section,
    #sign-up section {
        padding-left: 10px;
        border-radius: 4px;
    }
    
    #cc-1,
    #cc-2,
    #cc-3,
    #cc-4 {
        width: 80%;
        margin: 0px auto;
        background-color: red;
        height: 28px;
        display: none;
        /* display: none; */
    }
    
    #see-password-2 {
        width: 20px;
        height: 20px;
    }
    
    #eye-1,
    #eye-2 {
        float: right;
        cursor: pointer;
    }
    
    sup {
        background-color: rgb(13, 211, 13);
        border-radius: 5px;
        border: transparent;
        padding: 4px;
        font-size: 10px;
    }
#yt-desktop{
    color:white;
