    @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Ubuntu:wght@300&display=swap');
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        color: black;
        font-family: 'Baloo Bhai 2', cursive;
    }
    /* Preloader */
    
    #Loading-container {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #parent {
        width: 20vw;
        height: 20vw;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transform: rotate(180deg);
    }
    
    #child11 {
        height: 80%;
        width: 80%;
        border-radius: 50%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        /* box-shadow: 1px 1px 0.1px rgb(9, 147, 172); */
        animation: rotated 1s ease-in-out;
        animation-iteration-count: infinite;
    }
    
    @keyframes rotated {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
        1% {
            box-shadow: 1px 1px 0.5px rgb(31, 231, 13);
        }
        10% {
            box-shadow: 2px 1px 0.5px rgb(15, 207, 73);
        }
        20% {
            box-shadow: 2px 2px 0.5px rgb(11, 236, 218);
        }
        30% {
            box-shadow: 2px 2px 0.5px white;
        }
        40% {
            box-shadow: 2px 2px 0.5px rgb(65, 30, 219);
        }
        50% {
            box-shadow: 2px 2px 0.5px red;
        }
        60% {
            box-shadow: 2px 2px 0.5px rgb(218, 218, 20);
        }
        70% {
            box-shadow: 2px 2px 0.5px rgb(168, 21, 168);
        }
        80% {
            box-shadow: 2px 2px 0.5px cyan;
        }
        90% {
            box-shadow: 2px 2px 0.5px yellowgreen;
        }
        100% {
            box-shadow: 2px 2px 0.5px rgb(11, 135, 151);
        }
    }
    
    #loading-txt {
        display: block;
        text-align: center;
        color: cyan;
        position: fixed;
    }
    
    @media (min-width:0px) and (max-width:700px) {
        #parent {
            width: 30vw;
            height: 30vh;
        }
        #child11 {
            width: 100%;
            height: 100%;
        }
    }
    /* ---------------------------------- */
    
     ::placeholder {
        text-align: left;
        padding-left: 10px;
        color: rgba(0, 0, 0, 0.589);
    }
    
    #logo img {
        width: 57px;
        padding-left: 30px;
    }
    
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100vw;
        height: 70px;
        background-color: rgb(117 20 206 /70%);
        position: sticky;
        top: 0;
        font-size: 16px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    
    #navigations {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 40vw;
        margin: auto;
    }
    
    #navigations li {
        margin: auto;
    }
    
    #navigations li a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.8);
    }
    
    #register {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        position: relative;
        right: 0;
        margin-right: 2vw;
    }
    
    #register span {
        padding: 10px;
        font-size: 20px;
    }
    
    #register span:hover,
    #register span:active {
        cursor: pointer;
        border-radius: 15px;
        height: fit-content;
        box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.5);
        transition-duration: 0.3s;
    }
    
    #navigations li a:hover {
        color: rgba(255, 255, 255, 0.829);
        transition-duration: 0.5s;
    }
    
    #drop-down-box {
        background-color: black;
        width: 200px;
        color: white;
        display: none;
        position: fixed;
        top: 45px;
        border-radius: 6px;
        width: 200px;
    }
    
    #drop-down-box ul {
        padding: 20px;
    }
    
    #drop-down-box a {
        /* color: white; */
        text-decoration: none;
    }
    
    #drop-down-box i {
        color: cyan;
        display: inline;
    }
    
    #extrnl-link:hover {
        color: white;
        transition-duration: 1s;
        cursor: pointer;
        display: block;
    }
    
    #extrnl-link:hover #drop-down-box {
        display: block;
    }
    
    #arrow {
        width: 40px;
        height: 40px;
        background-color: black;
        position: absolute;
        top: 0;
        left: 10px;
        transform: rotate(45deg);
        z-index: 11;
    }
    
    #drop-down-box ul li a {
        color: white;
        z-index: 10;
    }
    
    #drop-down-box ul li {
        margin-left: 34px;
    }
    
    #navigations li p {
        cursor: pointer;
    }
    
    #drop-down-for-contact {
        width: 200px;
        background-color: black;
        border-radius: 5px;
        position: fixed;
        top: 48px;
        display: none;
    }
    
    #drop-down-for-contact li {
        margin-left: 30%;
    }
    
    #arrow-up {
        width: 30px;
        height: 30px;
        background-color: black;
        transform: rotate(45deg);
        position: absolute;
        left: 20px;
    }
    
    #drop-down-for-contact li p {
        color: white;
    }
    
    #drop-down-for-contact li p:hover {
        color: rgba(255, 255, 255, 0.856);
    }
    
    #cntct:hover #drop-down-for-contact {
        display: inline;
    }
    
    #cntct:hover #angle-down-1 {
        transform: rotate(180deg);
        transition-duration: 0.5s;
    }
    
    #extrnl-link:hover #angle-down-2 {
        transform: rotate(180deg);
        transition-duration: 0.5s;
    }
    
    #mobile-ham {
        display: none;
    }
    
    #time {
        font-size: 15px;
        position: absolute;
        top: 1px;
        right: 0;
        padding-right: 5px;
        cursor: pointer;
    }
    
    #time p {
        color: rgb(5, 219, 41);
        display: inline;
        font-weight: bold;
    }
    
    #hour::after {
        content: ':';
    }
    
    #minute::after {
        content: ':';
    }
    
    #drp-tm {
        position: absolute;
        top: 30px;
        right: 10px;
        background-color: black;
        width: 150px;
        height: 30px;
        text-align: center;
        border-radius: 4px;
        display: none;
    }
    
    #drp-tm p {
        color: white;
        display: inline;
    }
    
    #drp-minute::after,
    #drp-hour::after {
        content: ":";
    }
    
    #drp-second {
        padding-right: 18px;
    }
    
    #drp-tm div {
        width: 20px;
        height: 20px;
        position: absolute;
        background-color: black;
        top: 0;
        right: 5px;
        transform: rotate(45deg);
    }
    
    #time:hover #drp-tm {
        display: flex;
    }
    
    nt {
        padding-left: 15px;
    }
    
    #menu-for-ph {
        display: none;
    }
    
    #i {
        display: none;
    }
    /*  Styling Regitration Form */
    
    #register_form {
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.863);
        position: fixed;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease-in-out;
        transform: scale(0);
        border-radius: 8px;
    }
    
    #form-navigator {
        width: 30vw;
        height: 30px;
        background-color: white;
        margin: 2vh auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        position: fixed;
        top: 0;
    }
    
    .member {
        width: 50%;
        height: 100%;
        margin: auto;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        border-radius: 15px;
    }
    
    #sign_up-form-container {
        width: 60vw;
        margin: auto;
        /* display: none; */
    }
    
    .User-info {
        display: block;
        background-color: transparent;
        border-color: rgba(20, 192, 192, 0.966);
        border-radius: 4px;
        height: 40px;
        width: 80%;
        margin: 10px auto;
        outline: none;
        font-size: 20px;
        padding: 2px;
        padding-left: 5px;
    }
    
    .User-password {
        border: 2px solid rgba(20, 192, 192, 0.966);
        border-radius: 4px;
        width: 81%;
        height: 45px;
        margin: 10px auto;
    }
    
    #user-password,
    #user-password-for-login {
        width: 90%;
        height: 40px;
        border: transparent;
        background-color: transparent;
        font-size: 20px;
        outline: none;
        padding-left: 5px;
    }
    
    #show-pass-word-btn,
    #show-login-password-btn {
        cursor: pointer;
        display: inline;
        font-size: 85%;
        color: rgb(15, 226, 138);
        padding: 1px;
    }
    /* following is for login form */
    
    #login-form-container {
        width: 60vw;
        margin: auto;
        display: none;
    }
    
    .LoginUser-info,
    .LoginUser-password {
        display: block;
        background-color: transparent;
        border: 2px solid rgba(20, 192, 192, 0.966);
        border-radius: 4px;
        height: 45px;
        width: 80%;
        margin: 10px auto;
        outline: none;
        font-size: 20px;
        padding: 2px;
        padding-left: 5px;
    }
    
    #signup-btn-div,
    #lgn-btn-div {
        width: 50%;
        margin: auto;
        height: 30px;
    }
    
    #sign_up-btn,
    #login-btn {
        width: 100%;
        margin: auto;
        height: 30px;
        background-color: rgba(24, 207, 55, 0.945);
        font-size: 18px;
        border-radius: 8px;
        outline: none;
        border: transparent;
        cursor: pointer;
    }
    
    #Close_registeration {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 2vh;
        right: 1vw;
        cursor: pointer;
    }
    
    .errorSignUp {
        color: red;
        width: fit-content;
        display: block;
        margin: 2px 10%;
        font-size: 15px;
    }
    
    #repeatError {
        display: none;
    }
    
    #login-form-container input,
    #sign_up-form-container input {
        color: rgba(255, 255, 255, 0.774);
        font-family: 'Ubuntu', sans-serif;
    }
    
    .sssss {
        border-radius: 51%;
        backdrop-filter: invert(100);
        border: 2px solid black;
    }
    
    .tabss {
        height: 100%;
    }